## Final Project Submission

Please fill out:
* Student name: Veronica Mwihaki
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

#Exploring the Properties of Top Performing Films for Microsoft's New Movie Studio

##Business Problem
Microsoft has limited experiences in making movies and have  tasked me in exploring different data sets and the data files like titles genres,ratings,budgets and gross. In order to come up with the best findings on how different movie properties contibute in there box office performance that will help contribute to the what type of movies will be created.

##Data Sources

In [1]:
# imports
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#load the data files 
basics = pd.read_csv("zippedData/imdb.title.basics.csv.gz")
ratings = pd.read_csv("zippedData/imdb.title.ratings.csv.gz")
gross = pd.read_csv("zippedData/bom.movie_gross.csv.gz")
budgets = pd.read_csv("zippedData/tn.movie_budgets.csv.gz")

In [3]:
#Clean title basics dataframe
basics.columns #check what column names are there in basics data frame

Index(['tconst', 'primary_title', 'original_title', 'start_year',
       'runtime_minutes', 'genres'],
      dtype='object')

In [4]:
basics.head() # shows what data is in each column

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [5]:
basics.info

<bound method DataFrame.info of            tconst                                primary_title  \
0       tt0063540                                    Sunghursh
1       tt0066787              One Day Before the Rainy Season
2       tt0069049                   The Other Side of the Wind
3       tt0069204                              Sabse Bada Sukh
4       tt0100275                     The Wandering Soap Opera
...           ...                                          ...
146139  tt9916538                          Kuambil Lagi Hatiku
146140  tt9916622  Rodolpho Teóphilo - O Legado de um Pioneiro
146141  tt9916706                              Dankyavar Danka
146142  tt9916730                                       6 Gunn
146143  tt9916754               Chico Albuquerque - Revelações

                                     original_title  start_year  \
0                                         Sunghursh        2013
1                                   Ashad Ka Ek Din        2019
2                        The Other Side of the Wind        2018
3                                   Sabse Bada Sukh        2018
4                             La Telenovela Errante        2017
...                                             ...         ...
146139                          Kuambil Lagi Hatiku        2019
146140  Rodolpho Teóphilo - O Legado de um Pioneiro        2015
146141                              Dankyavar Danka        2013
146142                                       6 Gunn        2017
146143               Chico Albuquerque - Revelações        2013

        runtime_minutes                genres
0                 175.0    Action,Crime,Drama
1                 114.0       Biography,Drama
2                 122.0                 Drama
3                   NaN          Comedy,Drama
4                  80.0  Comedy,Drama,Fantasy
...                 ...                   ...
146139            123.0                 Drama
146140              NaN           Documentary
146141              NaN                Comedy
146142            116.0                   NaN
146143              NaN           Documentary

[146144 rows x 6 columns]>

In [6]:
basics.replace('\\N',pd.NA, inplace=True) #imdb writes \N when data is missing and pandas can't understand that \N
#the pd.Na shows the value missing and the inplace stops creation of new data Frames 

basics.drop_duplicates(inplace=True) # removes duplicates of data

In [7]:
basics['primary_title'] = basics['primary_title'].str.strip() #removes spaces before and after text
basics['primary_title'] = basics['primary_title'].str.lower() #lowercases all letters

In [8]:
basics['original_title'] = basics['original_title'].str.strip()
basics['original_title'] = basics['original_title'].str.lower()

In [9]:
basics['runtime_minutes'] = pd.to_numeric(basics['runtime_minutes'], errors='coerce') # converts the texts into numbers the errors=coerce makes the whole column numeric
basics['start_year'] = pd.to_numeric(basics['start_year'], errors='coerce')
basics['start_year'] = basics['start_year'].fillna(0, inplace = True) #fills the missing values at the start year column with 0

In [10]:
median_runtime = basics['runtime_minutes'].median() #calculates the median of the runtime column
basics['runtime_minutes'] = basics['runtime_minutes'].fillna(median_runtime) #fills the missing values (Na) with the median value

In [11]:
basics['filmType'] = basics['runtime_minutes'].apply(lambda x : 'short' if x < 40 else 'movie')

In [12]:
basics["genres"] = basics["genres"].apply(lambda x: x.split(",") if type(x) == str else x) 
# splits genres into list while leaving the missing values as they are

In [21]:
# clean ratings dataframes
ratings.columns #checks what the column names are

Index(['tconst', 'averagerating', 'numvotes'], dtype='object')

In [14]:
ratings.head() # checks what the values of each column are

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [15]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [16]:
ratings.drop_duplicates(inplace=True) #remove duplicates

In [22]:
ratings['averagerating'] = pd.to_numeric(ratings['averagerating'], errors='coerce') #changing the texts to numeric numbers
ratings['numvotes'] = pd.to_numeric(ratings['numvotes'], errors='coerce')

ratings['averagerating'] = ratings['averagerating'].fillna(ratings['averagerating'].median()) #fills the missing values with the median
ratings['numvotes'] = ratings['numvotes'].fillna(0) #fills the missing values in the numvotes with 0

In [36]:
ratings = ratings[ratings['averagerating'].between(0, 10)] #have ratings between 0 and 10

KeyError: 'averagerating'

In [35]:
# clean the gross dataframes
gross.columns # shows what columns are in the gross data fram

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [29]:
gross.head() #shows the data values in each column

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [30]:
gross.info() #shows what types of data are in each column

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 158.8+ KB

In [31]:
gross.drop_duplicates(inplace=True) #removes duplicates from gross dataframe

In [32]:
gross['title'] = gross['title'].str.strip() # removes the spaces before or after the text
gross['title'] = gross['title'].str.lower() #makes all the texts into lowercase

In [37]:
gross['domestic_gross'] = pd.to_numeric(gross['domestic_gross'], errors='coerce')
gross['foreign_gross'] = pd.to_numeric(gross['foreign_gross'], errors='coerce')

In [38]:
gross['domestic_gross'] = gross['domestic_gross'].fillna(0)
gross['foreign_gross'] = gross['foreign_gross'].fillna(0)

In [ ]:
#Clean budgets data frame